<div class="container">

  <div class="title">
    <h1>{{ title }}</h1>
  </div>

  <div id="pdf-container">
    <div class="pdf" *ngIf="information">
      <div class="pdf-fields">Name : {{ information.Name ? information.Name : '' }}</div>
      <div class="pdf-fields">Contact : {{ information.Number ? information.Number : '' }}</div>
      <div class="pdf-fields">Email : {{ information.Email ? information.Email : '' }}</div>
    </div>
 
  </div>

  <div class="footer">
    <div class="export-btn" (click)="exportPDF()">Export</div>
  </div>
  

</div>